<form class="login-form">
  <div>
    <label for="username-login">username:</label>
    <input type="text" id="username-input-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-input-login" />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>

  <div>
    <a href="/signup">Sign Up</a>
  </div>
</form>
 <script src="/javascript/login.js"></script>
 