<section>
    <h2>Create New Blog</h2>

    <form class="new-post-form" data-postuserID="{{userID}}">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-content">Content</label>
            <input type="text" id="post-content" name="post-content" />
        </div>
        <button type="submit" class="new-post-form">Submit blog</button>
    </form>

    <script src="/javascript/add-post.js"></script>
</section>