<form class="signup-form">
    <p>Welcome to create a new account </p>
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-input-signup" />
  </div>
  <div>
    <label for="password-singup">password:</label>
    <input type="password" id="password-input-signup" />
  </div>
  <div>
    <button type="submit">Sign Up</button>
  </div>

</form>
 <script src="/javascript/signup.js"></script>