<form class="signup-form mx-5 border rounded">
  <p class="my-2 mx-4">Create new account </p>
  <div class="d-flex flex-column mx-4">
    <label for="username-signup">username:</label>
    <input type="text" id="username-input-signup" />
  </div>
  <div class="d-flex flex-column m-4">
    <label for="password-singup">password:</label>
    <input type="password" id="password-input-signup" />
  </div>
  <div class="m-3 d-flex justify-content-around">
    <button type="submit" class="btn-primary rounded">Sign Up</button>
  </div>

</form>
<script src="/javascript/signup.js"></script>