{{> post-info posts}}

{{#if loggedIn}}
<form class="comment-form" data-userID="{{userID}}">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit" class="btn btn-primary">Add comment</button>
  </div>
</form>
{{/if}}

{{> comments posts.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>

{{/if}}