body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer {
  margin-top: auto;
}

#logout {
  cursor: pointer;
}

#logout:hover {
  text-decoration: underline;
}

#newpostbtn {
  text-align: center;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #09152b;
  opacity: 0.5;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.new-post-form {
  display: table;
}
.new-post-form div {
  display: table-row;
}
.new-post-form label {
  display: table-cell;
}
.new-post-form input {
  display: table-cell;
  width: 400px;
}

.edit-post-form {
  display: table;
  margin: 5%;
}
.edit-post-form div {
  display: table-row;
  margin-top: 2%;
}
.edit-post-form label {
  display: table-cell;
}
.edit-post-form textarea {
  display: table-cell;
  width: 400px;
}

.delete-post-btn {
  margin: 1%;
}
.post-content {
  height: 150px;
}
